pkgbase = sqlch-suite
	pkgdesc = A modular internet radio CLI+GUI suite featuring a tray icon, TUI, and mpv controller
	pkgver = 3.4.1
	pkgrel = 2
	url = https://github.com/SW-philip/sqlch-suite
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = libayatana-appindicator
	depends = bash
	depends = hicolor-icon-theme
	depends = glib2
	optdepends = mpv: used by sqlchctl for playback
	source = sqlchctl
	source = sqlchknob
	source = sqlchtray
	source = sqlchtray.service
	source = sqrrlch_icon.png
	source = LICENSE
	md5sums = 7757b3f65f8b2593a3de2268ab9fc6cb
	md5sums = ae8219cbaba49c298a859673ecf41402
	md5sums = a3d87861aa26abc79d36680855fd58b4
	md5sums = dbbfce5530ecc9ef70ac665a2e716c3b
	md5sums = a40cf63ecd9780ba1f2b2ad4316554f5
	md5sums = a3fbf977c5ffda1beb58b026ef4b98fa

pkgname = sqlch-suite
