pkgbase = sqlch-suite
	pkgdesc = A modular internet radio CLI+GUI suite featuring a tray icon, TUI, and mpv controller
	pkgver = 3.4.1
	pkgrel = 1
	url = https://github.com/SW-philip/sqlch-suite
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = libappindicator-gtk3
	depends = bash
	depends = hicolor-icon-theme
	depends = glib2
	optdepends = mpv: used by sqlchctl for playback
	source = sqlch
	source = sqlchctl
	source = sqlchknob
	source = sqlchtray.py
	source = sqlchtray.service
	source = sqlchtray-icon.png
	source = LICENSE
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = sqlch-suite
